@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Sriracha|Work+Sans&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  font-family: 'Work Sans', sans-serif;
  font-family: 'Bree Serif', serif;
  /* font-family: 'Sriracha', cursive; */
}

html {
  /* background-color: cyan;
  color: black; */
}

.header {
  /* font-family: 'Bree Serif', serif; */
}

/* .primary-color {
  color: cyan;
} */
